<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Accueil</title>
</head>
<body>
  <header>
    <img class="logo" src="/static/logo.png" alt="logo_saveur_de_la_vallée">
  <nav>
    <a href="/home">Accueil</a>
    <a href="/about">A propos</a>
    <a href="/contact">Contact</a>
  </nav>
  </header>
 

   <h1>Bienvenue sur Saveurs de la vallée</h1>

  <img src="/static/apricots.jpg" alt="Abricots">
  <img src="/static/bananas.jpg" alt="Bananes">
  <img src="/static/mangos.jpg" alt="Mangues">
  <img src="/static/melon.jpg" alt="Melon">
  <img src="/static/peaches.jpg" alt="Peches">
  <img src="/static/pineapple.jpg" alt="Ananas">
  <img src="/static/raspberries.jpg" alt="Framboises">
  <img src="/static/strawberries.jpg" alt="fraises">
  <img src="/static/watermelon.jpg" alt="pastèque">
  Images par <a href="https://pixabay.com/fr/users/security-535773/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=636562">Security, </a> 
<a href="https://pixabay.com/fr/users/stevepb-282134/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1074997">Steve Buissinne, </a> 
<a href="https://pixabay.com/fr/users/shutterbug75-2077322/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1239347">Robert Owen-Wahl, </a> 
<a href="https://pixabay.com/fr/users/peterg63-11841274/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8364511">Peter G. ,</a>
<a href="https://pixabay.com/fr/users/couleur-1195798/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3433835">Couleur, </a> 
<a href="https://pixabay.com/fr/users/congerdesign-509903/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=815072">congerdesign, </a> 
<a href="https://pixabay.com/fr/users/engin_akyurt-3656355/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2960533">Engin Akyurt, </a>
<a href="https://pixabay.com/fr/users/daria-yakovleva-3938704/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1898196">Дарья Яковлева, </a>


</body>



</html>