<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Accueil</title>
</head>
<body>
  <header>
    <img class="logo" src="../static/logo.png" alt="logo_saveur_de_la_vallée">
  <nav>
    <a href="C:\Users\Utilisateur\Desktop\PROJETS 2025\mini_serveur\templates\home.html">Accueil</a>
    <a href="C:\Users\Utilisateur\Desktop\PROJETS 2025\mini_serveur\templates\about.html">A propos</a>
    <a href="C:\Users\Utilisateur\Desktop\PROJETS 2025\mini_serveur\templates\contact.html">Contact</a>
  </nav>
  </header>
 <!-- <img src="C:\Users\Utilisateur\Desktop\PROJETS 2025\mini_serveur\static\accueil.jpg" alt="Verger de pommes">-->
</body>
</html>